<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.echatsoft.echatsdk">

    <uses-sdk tools:overrideLibrary="tv.danmaku.ijk.media.player_arm64" />

    <application>

        <activity
            android:name="com.echatsoft.echatsdk.chat.EChatActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/EChatTheme.NoActionBar" />
        <activity
            android:name="com.echatsoft.echatsdk.chat.otherui.CameraActivity"
            android:theme="@style/EChatTheme.NoActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="name,authorities,exported,grantUriPermissions">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/echat_file_paths_public"
                tools:replace="name,resource" />
        </provider>

        <activity
            android:name="com.echatsoft.echatsdk.chat.otherui.BrowserActivity"
            android:launchMode="singleTop"
            android:process=":webview"
            android:screenOrientation="portrait"
            android:theme="@style/EChatTheme.NoActionBar.OtherProcess" />


        <activity
            android:name="com.echatsoft.echatsdk.chat.otherui.WebviewBottomDialogActivity"
            android:launchMode="singleTop"
            android:process=":webview"
            android:theme="@style/EChatTheme.Translucent" />
    </application>
</manifest>
