<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.echatmulti.sample">

    <uses-sdk tools:overrideLibrary="
    tv.danmaku.ijk.media.player_x86_64,
    tv.danmaku.ijk.media.player_arm64,
    com.huawei.android.hms.push,
    com.huawei.android.hms.openid,
    com.huawei.android.hms.base,
    com.huawei.hms.base,
    com.huawei.hms.base.availableupdate,
    com.huawei.hms.base.device,
    com.huawei.agconnect.core,
    org.android.agoo.huawei,
    com.huawei.hms.stats,
    com.huawei.hms.base.ui,
    com.huawei.hms.log,com.heytap.mcssdk,
    com.huawei.hms.hatool" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!--umeng push-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="${APP_LOGO_PATH}"
        android:label="${app_name}"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="${APP_LOGO_ROUND_PATH}"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup,android:label">
        <activity
            android:name=".MessageActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="${HUAWEI_PUSH}" />

        <activity
            android:name=".HandleMessageActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InitActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.echat.echatjsdemo.MiPushActivity"
            android:exported="true"
            android:launchMode="singleTask" />

        <receiver
            android:name=".utils.NotificationReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.echat.chat.action.NEW_MSG" />
                <action android:name="com.echat.chat.action.UNREAD_COUNT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>